<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logFilePath" source="application.log.file-path" defaultValue="./logs" />
    <springProperty scope="context" name="logFileCount" source="application.log.file-count" defaultValue="10" />
    <springProperty scope="context" name="logFileFormat" source="application.log.file-format" defaultValue="FILE-PLAIN" />
    <springProperty scope="context" name="logConsoleFormat" source="application.log.console-format" defaultValue="CONSOLE" />
    <springProperty scope="context" name="logFileName" source="spring.application.name" defaultValue="app" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <![CDATA[
                %blue(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] [trace_id=%X{trace_id}, span_id=%X{span_id}] %yellow(%C{1}): %msg%n%red(%throwable)
                ]]>
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="FILE-JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}/${logFileName}-json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}/${logFileName}-%d{yyyy-MM-dd}-json.log</fileNamePattern>
            <maxHistory>${logFileCount}</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="FILE-PLAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}/${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}/${logFileName}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${logFileCount}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                <![CDATA[
                %d{ISO8601} %-5level [%t] [trace_id=%X{trace_id}, span_id=%X{span_id}] %C{1}: %msg%n%throwable
                ]]>
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="${logConsoleFormat}" />
        <appender-ref ref="${logFileFormat}" />
    </root>
</configuration>